.jumbotron {
	background-color: #aeaeae ;
	color:black;
	margin-top: 10px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color:  #aeaeae ;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-hotel{
	flex: 1 200px;
	padding: 2px 5px 5px 2px;
	margin-top: 15px; 
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right:10px ;
}

.tab-content{
	padding-top: 15px;
}

#botones{
	padding-top:  20px;
}
