/*  lessc css/syles2.less css/styles2.css */
@grey: #aeaeae;

.margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
	background-color: @grey ;
	color:black;
	.margenes(10px,10px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color:  @grey ;
    .margenes(10px,0px);
}
.card-hotel{
	flex: 1 200px;
	padding: 2px 5px 5px 2px;
	.margenes(10px,0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right:10px ;
}

.tab-content{
	padding-top: 15px;
}

#botones{
	padding-top:  20px;
}
