/*  lessc css/syles2.less css/styles2.css */
.jumbotron {
  background-color: #aeaeae;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #aeaeae;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 5px 2px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px ;
}
.tab-content {
  padding-top: 15px;
}
#botones {
  padding-top: 20px;
}
