/* npm run scss */
$grey: #aeaeae ;

@mixin margenes ($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
	background-color: $grey ;
	color:black;
	@include margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
    background-color:  $grey ;
    @include margenes(10px, 0px);
}
.card-hotel{
	flex: 1 200px;
	padding: 2px 5px 5px 2px;
	@include margenes(15px, 0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right:10px ;
}

.tab-content{
	padding-top: 15px;
}

#botones{
	padding-top:  20px;
}
